body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (min-width: 700px) and (max-width: 1120px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 400px) and (max-width: 699px) {
  #level-title {
    font-size: 2rem;
    margin: 5%;
  }
  .container {
    width: 100%;
  }
  .btn {
    margin: 10px;
    height: 150px;
    width: 150px;
    border: 5px solid black;
  }
}

@media (max-width: 399px) {
  #level-title {
    font-size: 2rem;
    margin: 5%;
  }
  .container {
    width: 100%;
  }
  .btn {
    margin: 5px;
    height: 135px;
    width: 135px;
    border: 5px solid black;
  }
}
